
        
     
<div class="offcanvas offcanvas-start  text-dark sidebar-nav" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-body">
         <ul class="navbar-nav">

         
         <li class="nav-item">
           <a class="nav-link sidebar-link" data-bs-toggle="collapse" href="#admin" role="button" aria-expanded="false" aria-controls="admin">
           <div class="text-secondary small text-uppercase fw-bold text-center"><i class="fas fa-user-secret"></i><br> Admin-Panel<span class="right-icon float-end"><i class="fas fa-chevron-down"></i></span></div>
        </a>
         <li class="nav-item">
           
             <div class="collapse" id="admin">
             <div>
                <ul class="navbar-nav ps-3">
                    <li>
                      <a class="nav-link" routerLink="/admin"><i class="fa fa-user me-2"></i>My Profile</a>
                    </li>
                    <li>
                     <a class="nav-link" routerLink="/admin"><i class="fa-solid fa-right-from-bracket me-2"></i>Return Home page</a>
                   </li>
                   
                     </ul>
                 
          </div>
          </div>
         </li>
          
         <li class="nav-item my-0">
          <hr />  
       </li>


         <li class="nav-item">
         <div class="text-secondary small text-uppercase fw-bold">Core</div>
         </li>
         <li class="nav-item">
         <a class="nav-link active" aria-current="page" routerLink="/admin"><i class="fas fa-tachometer-alt-fast"></i> Dashboard</a>
         </li>
              
         <li class="nav-item my-0">
           <hr />
         </li>

         <li class="nav-item">
         <div class="text-secondary small text-uppercase fw-bold">Inventory</div>
         </li>

         <li class="nav-item">
         <a class="nav-link sidebar-link" data-bs-toggle="collapse" href="#booksmgt" role="button" aria-expanded="false" aria-controls="booksmgt">
         <i class="fas fa-book me-2"></i>Books Management <span class="right-icon float-end"><i class="fas fa-chevron-down"></i></span>
         </a>
         <div class="collapse" id="booksmgt">
             <div>
                <ul class="navbar-nav ps-3">
                   <li>
                      <a class="nav-link" routerLink="/addbook"><i class="far fa-plus me-2"></i>Add Book</a>
                       </li>
                    <li>
                     <a class="nav-link" routerLink="/managebook"><i class="fas fa-list me-2"></i>Mange Book</a>
                     </li>
                        
                       </ul>
                      
                </div>
             </div>

               <li class="nav-item">
                 <a class="nav-link sidebar-link" data-bs-toggle="collapse" href="#Mgmt" role="button" aria-expanded="false" aria-controls="Mgmt">
                     <i class="fas fa-users me-1"></i>Members Management <span class="right-icon float-end"><i class="fas fa-chevron-down"></i></span>
                   </a>
                  <div class="collapse" id="Mgmt">
                  <div>
                     <ul class="navbar-nav ps-3">
                         <li>
                           <a class="nav-link" routerLink="/addmember"><i class="far fa-plus me-2"></i>Add Member</a>
                         </li>
                         <li>
                           <a class="nav-link" routerLink="/managemember"><i class="fas fa-list me-2"></i>Manage Member</a>
                         </li>
                          </ul>
                      
                   </div>
                  </div>
              </li>

             <li class="nav-item">
               <a class="nav-link sidebar-link" data-bs-toggle="collapse" href="#cm" role="button" aria-expanded="false" aria-controls="cm">
                   <i class="fa-solid fa-pen-fancy me-1"></i>Classification Management<span class="right-icon float-end"><i class="fas fa-chevron-down"></i></span>
                 </a>
                <div class="collapse" id="cm">
                <div>
                   <ul class="navbar-nav ps-3">
                       <li>
                         <a class="nav-link" routerLink="/author"><i class="fas fa-book-reader me-2"></i>Author Details</a>
                       </li>
                       <li>
                         <a class="nav-link" routerLink="/publisher"><i class="fas fa-warehouse me-2"></i>Publisher details</a>
                       </li>
                        </ul>
                    
             </div>
             </div>
           </li>

             <li class="nav-item my-0">
                 <hr />  
              </li>

              <li class="nav-item">
                <div class="text-secondary small text-uppercase fw-bold">Business</div>
              </li>

              <li class="nav-item">
                 <a class="nav-link sidebar-link" data-bs-toggle="collapse" href="#booksloan" role="button" aria-expanded="false" aria-controls="booksloan">
                     <i class="fa fa-institution me-2"></i>Books Loan <span class="right-icon float-end"><i class="fas fa-chevron-down"></i></span>
                   </a>
                  <div class="collapse" id="booksloan">
                  <div>
                     <ul class="navbar-nav ps-3">
                         <li>
                           <a class="nav-link" routerLink="/issue"><i class="far fa-plus me-2"></i>isuue Book</a>
                         </li>
                         <li>
                           <a class="nav-link" routerLink="/issued"><i class="fas fa-list me-2"></i>issued Book</a>
                         </li>
                          </ul>
                      
               </div>
               </div>

               <li class="nav-item">
                 <a class="nav-link sidebar-link" data-bs-toggle="collapse" href="#ssp" role="button" aria-expanded="false" aria-controls="ssp">
                     <i class="fa fa-indian-rupee-sign me-2"></i>Subscription <span class="right-icon float-end"><i class="fas fa-chevron-down"></i></span>
                   </a>
                  <div class="collapse" id="ssp">
                  <div>
                     <ul class="navbar-nav ps-3">
                         <li>
                           <a class="nav-link" routerLink="/plan"><i class="far fa-plus me-2"></i>Plan</a>
                         </li>
                         <li>
                           <a class="nav-link" routerLink="/History"><i class="fas fa-list me-2"></i>Purchase History</a>
                         </li>
                          </ul>
                      
               </div>
               </div>
             </li>

             <li class="nav-item my-0">
               <hr />  
            </li>

            <li class="nav-item">
              <div class="text-secondary small text-uppercase fw-bold">Enquiry</div>
            </li>

            <li class="nav-item">
               <a class="nav-link sidebar-link" data-bs-toggle="collapse" href="#enq" role="button" aria-expanded="false" aria-controls="enq">
                   <i class="fa-solid fa-envelope me-2"></i>Enquiry Management <span class="right-icon float-end"><i class="fas fa-chevron-down"></i></span>
                 </a>
                <div class="collapse" id="enq">
                <div>
                   <ul class="navbar-nav ps-3">
                       <li>
                         <a class="nav-link" routerLink="/enquiry"><i class="far fa-plus me-2"></i>All Enquiry</a>
                       </li>
                       
                        </ul>
                    
             </div>
             </div>

           


               
             <li class="nav-item my-0">
              <hr />  
           </li>

              <li class="nav-item">
                 <a class="nav-link active" aria-current="page" href="#"><i class="fa-solid fa-right-from-bracket me-2"></i>Logout</a>
               </li>
                


           </ul>
     </div>
   
   </div>




<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>My Profile</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">My Profile</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>


    <section class="content">
        <div>
            <div class="cust_overlay">
                <div class="cv-spinner">
                    <span class="spinner"></span>
                </div>
            </div>
            <style>
                /* Add the styles here */
            </style>
        </div>
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-3">
                        <!-- Profile Image -->
                        <div class="card">
                            <div class="card-body box-profile">
                                <div class="text-center">
                                    <img class="profile-user-img img-fluid img-thumbnail border-0" src="../../../assets/img/profile.png" alt="Admin">
                                </div>

                                <h3 class="profile-username text-center">Librarian</h3>

                                <p class="text-muted text-center">
                                    <span class="badge badge-dark">Admin</span>
                                </p>

                                <strong><i class="fas fa-book mr-1"></i> Education</strong>
                                <p class="text-muted">
                                   BA & Librarian certificate(3months) 
                                </p>
                                <hr>
                                <strong><i class="fas fa-map-marker-alt mr-1"></i> Location</strong>
                                <p class="text-muted">University Road, Udaipur</p>
                                <hr>

                                <strong><i class="far fa-file-alt mr-1"></i> About Me</strong>
                                <p class="text-muted">I'm Best as Librarian.</p>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>

                    <div class="col-md-9">
                        <div class="card">
                            <div class="card-header p-2">
                                <ul class="nav nav-pills">
                                    <li class="nav-item"><a class="nav-link active" href="#" data-toggle="tab">Staff Details</a></li>
                                </ul>
                            </div><!-- /.card-header -->
                            <div class="card-body">
                                <div class="container">
                                    <form (ngSubmit)="getadminData()" #formData="ngForm">
                                        <div class="form-group">
                                            <label for="name">Full Name</label>
                                            <input type="text" [(ngModel)]="admin_name" name="admin_name" placeholder= "Write here name.."id="name" class="form-control"  required="required">
                                        </div>
                            
                                        <div class="form-group">
                                            <label for="email">Email</label>
                                            <input type="email" [(ngModel)]="admin_email" name="admin_email" placeholder= "Write here Email-Id.." id="email" class="form-control fw-bold" placeholder="admin@123gmail.com" readonly="readonly">
                                        </div>
                            
                                        <div class="form-group">
                                            <label for="phone">Contact No:</label>
                                            <input type="text" [(ngModel)]="admin_phone" name="admin_phone" placeholder= "Write here Contact NO.."id="phone" class="form-control" >
                                        </div>
                            
                                        <div class="form-group">
                                            <label for="education">Education</label>
                                            <input type="text" [(ngModel)]="admin_education" name="admin_education"placeholder= "Write here education details.." id="education" class="form-control" >
                                        </div>
                            
                                        <div class="form-group">
                                            <label for="address">Address</label>
                                            <textarea [(ngModel)]="admin_address" name="admin_address" placeholder= "Write here address Detail.."id="address" class="form-control"></textarea>
                                        </div>
                            
                                        <div class="form-group">
                                            <label for="about_me">My remark</label>
                                            <textarea  [(ngModel)]="remark" name="remark" id="about_me" class="form-control"></textarea>
                                        </div>
                             
                                        <div class="form-group">
                                            <div class="form-check">
                                                <input wire:model.defer="check" class="form-check-input" type="checkbox" value="" id="tacCheckChecked" checked>
                                                <label class="form-check-label" for="tacCheckChecked">
                                                    I Agree <a target="_blank" href="/terms-and-conditions">Terms and conditions.</a>
                                                </label>
                                            </div>
                                        </div>
                            
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-sm btn-dark"><i class="fas fa-save mr-1"></i>&nbsp;Save Profile</button>
                                        </div>
                                    </form>
                                </div>
                        </div>
                        </div><!-- /.nav-tabs-custom -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
    </section>
