  <!-- Novel And Financialsection -->
  <div class="container-fluid">          
    <div class="row" style="overflow-x: auto; background-color: #f9f9f9;">
      
      
      <div class="col-md-4">
        
      
        <div class="card">
        
          
          <img src="../../../assets/img/ficition-0.jpg" alt="">
            <div class="card-body">
            <h5>&nbsp;ISBN: 1737144603</h5>&nbsp;
            <h5 style="margin-top: -1.5rem;">&nbsp;Rating: 4/5</h5><br>
            <p>&nbsp;<b><u>Book Review:</u></b><br>&nbsp; Absolutely loved every word, characters &nbsp;were very engaging.Plenty of suspence. &nbsp;this sci-fi loved bcz of  showing narration.</p><br>
          
          <a style="margin-top:-1rem;"  routerLink="/bookrental">Check-Out</a>
          </div>
        </div>
      </div>
      <div class="col-md-4"style="margin-left: -19rem;">
        <div class="card">
          <img src="../../../assets/img/ficitionalbook-5.jpg" alt="">
          <div class="card-body">
            <h5>&nbsp;ISBN: 9780997275308</h5>&nbsp;
            <h5 style="margin-top: -1.5rem;">&nbsp;Rating: 3.5/5</h5><br>
            <p style="margin-top:-1rem;">&nbsp;<b><u>Book Review:</u></b><br>&nbsp; In this book unique concept of showing &nbsp;the main character that how she solved &nbsp;the task which given by her department. 
            </p><br>
          
            &nbsp;&nbsp;<a style="margin-top:-1rem;"   routerLink="/bookrental">Check-out</a>
          </div>
        </div>
      </div>
      
      <!-- Add the rest of the col-md-4 cards here with similar structure -->
      <div class="col-md-4"style="margin-left: -19rem;">
        <div class="card">
          <img src="../../../assets/img/ficition-10.jpeg" alt="">
          <div class="card-body">
            <h5>&nbsp;ISBN: 9780253215673</h5>&nbsp;
            <h5 style="margin-top: -1.5rem;">&nbsp;Rating: 5/5</h5><br>
            <p style="margin-top:-1rem;">&nbsp;<b><u>Book Review:</u></b><br>&nbsp;It represents rural society ,that how &nbsp;people struggle to live their life how they &nbsp;tackle their problems.</p><br>
            &nbsp;&nbsp;<a style="margin-top:-1rem;"   routerLink="/bookrental">Check-out</a>
          </div>
        </div>
      </div>
      
      <div class="col-md-4"style="margin-left: -19rem;">
        <div class="card">  
          <img src="../../../assets/img/ficition book-2.jpg" alt="">
          <div class="card-body">
            <h5>&nbsp;ISBN: 9781857152173</h5>&nbsp;
            <h5 style="margin-top: -1.5rem;">&nbsp;Rating: 4.8/5</h5><br>
            <p style="margin-top:-1rem;">&nbsp;<b><u>Book Review:</u></b><br>&nbsp;This book is beautifully written, This is a &nbsp;unique style of storytelling that links &nbsp;together numerous characters and plots.</p><br>
          
            &nbsp;&nbsp;<a style="margin-top:-1rem;"   routerLink="/bookrental">Check-out</a>
          </div>
        </div>
      </div>
      
      <div class="col-md-4"style="margin-left: -19rem;">
        <div class="card">
          <img src="../../../assets/img/ficitionbook-1.jpg" alt="">
          <div class="card-body">
            <h5>&nbsp;ISBN:9780060170127</h5>&nbsp;
            <h5 style="margin-top: -1.5rem;">&nbsp;Rating: 4.5/5</h5><br>
            <p style="margin-top:-1rem;">&nbsp;<b><u>Book Review:</u></b><br>&nbsp;  It's a book that wraps the plot around &nbsp;the lives of privileged individuals all &nbsp;inhabiting a privileged world.<p><br>
            &nbsp;&nbsp;<a style="margin-top:-1rem;"   routerLink="/bookrental">Check-out</a>
          </div>
        </div>
      </div>
      
      
      <div class="col-md-4"style="margin-left: -19rem;">
        <div class="card">
          <img src="../../../assets/img/book-10.webp" alt="">
          <div class="card-body">
            <h5>&nbsp;ISBN: 9780807283158</h5>&nbsp;
            <h5 style="margin-top: -1.5rem;">&nbsp;Rating: 4.7/5</h5><br>
            <p style="margin-top:-1rem;">&nbsp;<b><u>Book Review:</u></b><br>&nbsp; probably marks the beginning of the &nbsp;characters evolution, from kids, to adults. &nbsp;Loads of humour, amazing plot twist.</p><br>
            
            &nbsp;&nbsp;<a style="margin-top:-1rem;"   routerLink="/bookrental">Check-out</a>
          </div>
        </div>
      </div>
      
      
      <div class="col-md-4"style="margin-left: -19rem;">
        <div class="card">
          <img src="../../../assets/img/book-A.jpg" alt="">
          <div class="card-body">
            <h5>&nbsp;ISBN:  9798212169448</h5>&nbsp;
            <h5 style="margin-top: -1.5rem;">&nbsp;Rating: 3.7/5</h5><br>
            <p style="margin-top:-1rem;">&nbsp;<b><u>Book Review:</u></b><br>&nbsp; What a great story, not only is it funny, it &nbsp;makes you think -also you will end up &nbsp;knowing how clever the Author has been.<p><br>
            &nbsp;&nbsp;<a style="margin-top:-1rem;"   routerLink="/bookrental">Check-out</a>
          </div>
        </div>
      </div>

      <div class="col-md-4"style="margin-left: -19rem;">
        <div class="card">
          <img src="../../../assets/img/ficition book-4.png" alt="">
          <div class="card-body">
            <h5>&nbsp;ISBN:  9783608119855</h5>&nbsp;
            <h5 style="margin-top: -1.5rem;">&nbsp;Rating: 4.1/5</h5><br>
            <p style="margin-top:-1rem;">&nbsp;<b><u>Book Review:</u></b><br>&nbsp; It’s a history of an entire age of middle- &nbsp;earth put into a narrative that helps &nbsp;capture just how detailed Tolkien’s world &nbsp;is.
              <p><br>
             
            &nbsp;&nbsp;<a style="margin-top:-1rem;"   routerLink="/bookrental">Check-out</a>
          </div>
        </div>
      </div>
      <div class="main-txt ">
        
          
      <h2 style="margin-left: -19rem;
       
        margin-top: 17rem;;font-size:x-large"><u>Fictional-Books Collection:</u></h2>
          <i style="margin-left:-10rem;font-size:x-large" class="fa fa-long-arrow-left"></i>
        </div>
        <div class="main-txt-2">
          <h1 style="margin-left:-158rem;margin-top:24rem; font-size:x-large"><u>Non-Fictional  Books Collection:</u></h1>
          <i style="margin-left:-149rem;font-size:x-large" class="fa fa-long-arrow-right"></i>
      
    
    </div>
      
    
      <!-- half of the section -->
      
      <div class="col-md-4" style="margin-left: -273rem;">
        <div class="card">
          
          <img src="../../../assets/img/non-ficitional-2.jpg" alt="">
          <div class="card-body">
            <h5>&nbsp;ISBN:  9780195623598</h5>&nbsp;
            <h5 style="margin-top: -1.5rem;">&nbsp;Rating: 4.9/5</h5><br>
            <p style="margin-top:-1rem;">&nbsp;<b><u>Book Review:</u></b><br>&nbsp;  Nehru Ji had a deep insight into the diversities and cultural ethos of India.One will appreciate the need for &nbsp;harmonious coexistence after reading &nbsp;this book.<p><br>
            
            &nbsp;&nbsp;<a style="margin-top:-1rem;"   routerLink="/bookrental">Check-out</a>
          </div>
        </div>
      </div>
      
      <div class="col-md-4"style="margin-left: -19rem;">
        <div class="card">
          <img src="../../../assets/img/non-fictional-4.jpg" alt="">
          <div class="card-body">
            <h5>&nbsp;ISBN:  9780062316097</h5>&nbsp;
            <h5 style="margin-top: -1.5rem;">&nbsp;Rating: 3.3/5</h5><br>
            <p style="margin-top:-1rem;">&nbsp;<b><u>Book Review:</u></b><br>&nbsp; Most incisive. A whole new take on &nbsp;history, coming in the wake of research &nbsp;into our origins, evolution, evolving &nbsp;structure of human society etc.<p><br>
            &nbsp;&nbsp;<a style="margin-top:-1rem;"   routerLink="/bookrental">Check-out</a>
          </div>
        </div>
      </div>

      
      <div class="col-md-4"style="margin-left: -19rem;">
        <div class="card">
          <img src="../../../assets/img/non-fictional-3.jpg" alt="">
          <div class="card-body">
            <h5>&nbsp;ISBN:  9788865944530</h5>&nbsp;
            <h5 style="margin-top: -1.5rem;">&nbsp;Rating: 4.2/5</h5><br>
            <p style="margin-top:-1rem;">&nbsp;<b><u>Book Review:</u></b><br>&nbsp;A compelling, upbeat story that &nbsp;underscores the importance of &nbsp;industriousness, creative intelligence and &nbsp;indomitable patience.<p><br>
            
            &nbsp;&nbsp;<a style="margin-top:-1rem;"   routerLink="/bookrental">Check-out</a>
          </div>
        </div>
      </div>



      <div class="col-md-4"style="margin-left:-19rem;">
        <div class="card">
          
          <img src="../../../assets/img/non-fictional-1.jpg" alt="">
          <div class="card-body">
            <h5>&nbsp;ISBN: 9788817871693</h5>&nbsp;
            <h5 style="margin-top: -1.5rem;">&nbsp;Rating: 3.9/5</h5><br>
            <p style="margin-top:-1rem;">&nbsp;<b><u>Book Review:</u></b><br>&nbsp; i knew Sreenivasa Ramanujan by my maths teacher. I was amazed by his knowledge.</p><br>
            &nbsp;&nbsp;<a style="margin-top:-1rem;"   routerLink="/bookrental">Check-out</a>
          </div>
        </div>
      </div>
    
      
    
      
    
      
  
      <div class="col-md-4"style="margin-left: -19rem;">
        <div class="card">
          <img src="../../../assets/img/non-ficitional-4.jpg" alt="">
          <div class="card-body">
            <h5>&nbsp;ISBN:  9798212169412</h5>&nbsp;
            <h5 style="margin-top: -1.5rem;">&nbsp;Rating: 3.0/5</h5><br>
            <p style="margin-top:-1rem;">&nbsp;<b><u>Book Review:</u></b><br>&nbsp; its showing about how our brain functionally perform and we control it through brain.</p><br>
            &nbsp;&nbsp;<a style="margin-top:-1rem;"   routerLink="/bookrental">Check-out</a>
          </div>
        </div>
      </div>
      
  
    
      
      
      <div class="col-md-4"style="margin-left: -19rem;">
        <div class="card">
          <img src="../../../assets/img/novel-2.jpg" alt="">
          <div class="card-body">
            <h5>&nbsp;ISBN:  9798211269448</h5>&nbsp;
            <h5 style="margin-top: -1.5rem;">&nbsp;Rating: 3.6/5</h5><br>
            <p style="margin-top:-1rem;">&nbsp;<b><u>Book Review:</u></b><br>&nbsp; this novel personally loved bcz of how our dynamically india different with different culture that showed by shashaji.</p><br>
            &nbsp;&nbsp;<a style="margin-top:-1rem;"   routerLink="/bookrental">Check-out</a>
          </div>
        </div>
      </div>
      
      
      <div class="col-md-4"style="margin-left: -19rem;">
        <div class="card">
          <img src="../../../assets/img/novel.jpg" alt="">
          <div class="card-body">
        <h5>&nbsp;ISBN:  911212169448</h5>&nbsp;
        <h5 style="margin-top: -1.5rem;">&nbsp;Rating: 4/5</h5><br>
        <p style="margin-top:-1rem;">&nbsp;<b><u>Book Review:</u></b><br>&nbsp; In novel author gives his best to show brief history about mighty cholas and their kingdom.</p><br>
            &nbsp;&nbsp;<a style="margin-top:-1rem;"   routerLink="/bookrental">Check-out</a>
          </div>
        </div>
      </div>
      
      
      <div class="col-md-4"style="margin-left: -19rem;">
        <div class="card">
          <img src="../../../assets/img/catcher.jpg" alt="">
          <div class="card-body">
            <h5>&nbsp;ISBN:  912212169448</h5>&nbsp;
            <h5 style="margin-top: -1.5rem;">&nbsp;Rating: 5/5</h5><br>
            <p style="margin-top:-1rem;">&nbsp;<b><u>Book Review:</u></b><br>&nbsp; What a great story, it &nbsp;makes you think -also you will end up &nbsp;knowing how clever the Author has been.<p><br>
            
            &nbsp;&nbsp;<a style="margin-top:-1rem;"   routerLink="/bookrental">Check-out</a>
          </div>
        </div>
      </div>
      
      
      <div class="col-md-4"style="margin-left: -19rem;">
        <div class="card">
          <img src="../../../assets/img/novel-3.jpg" alt="">
          <div class="card-body">
            <h5>&nbsp;ISBN:  9798212169212</h5>&nbsp;
            <h5 style="margin-top: -1.5rem;">&nbsp;Rating: 4.7/5</h5><br>
            <p style="margin-top:-1rem;">&nbsp;<b><u>Book Review:</u></b><br>&nbsp; What a great story, not only is it funny, it &nbsp;makes you think -also you will end up &nbsp;knowing how clever the Author has been.<p><br>
                
            &nbsp;&nbsp;<a style="margin-top:-1rem;"   routerLink="/bookrental">Check-out</a>
          </div>
        </div>
      </div>


      <div class="col-md-4"style="margin-left: -19rem;">
        <div class="card">
          <img src="../../../assets/img/ficitonal-A.webp" alt="">
          <div class="card-body">
            <h5>&nbsp;ISBN:  9798212133448</h5>&nbsp;
            <h5 style="margin-top: -1.5rem;">&nbsp;Rating: 4.5/5</h5><br>
            <p style="margin-top:-1rem;">&nbsp;<b><u>Book Review:</u></b><br>&nbsp; story was amazed by author thats how beautiful writing is and book is awesome by every single page.</p><br>
            &nbsp;&nbsp;<a style="margin-top:-1rem;"   routerLink="/bookrental">Check-out</a>
          </div>
        </div>
      </div>

    </div>
  </div>
  <hr />

  <!--Exam Books section  -->
  <div class="container-fluid">
    <div class="row" style="overflow-x: auto;background-color:rgb(247, 236, 220);">
      <div class="col-md-4">
        <div class="card">
          
          <img src="../../../assets/img/upsc-2.jpg" alt="">
          <div class="card-body">
            <h5>&nbsp;ISBN:  8498212133448</h5>&nbsp;
            <h5 style="margin-top: -1.5rem;">&nbsp;Book-Rack:2</h5><br>
            &nbsp;&nbsp;<a style="margin-top:-1rem;"   routerLink="/bookrental">Check-out</a>
          </div>
        </div>
      </div>
      
    
      
      <!-- Add the rest of the col-md-4 cards here with similar structure -->
      
    
  
      <div class="col-md-4"style="margin-left: -19rem;">
        <div class="card">
          <img src="../../../assets/img/upsc-3.webp" alt="">
          <div class="card-body">
            <h5>&nbsp;ISBN:  9798212133448</h5>&nbsp;
            <h5 style="margin-top: -1.5rem;">&nbsp;Book-Rack:3 </h5><br>
            &nbsp;&nbsp;<a style="margin-top:-1rem;"   routerLink="/bookrental">Check-out</a>
          </div>
        </div>
      </div>
      <div class="col-md-4" style=" margin-left: -19rem;">
        <div class="card">
        <img src="../../../assets/img/upsc-1.jpg" alt="">
          <div class="card-body">
            <h5>&nbsp;ISBN:  9798212133448</h5>&nbsp;
            <h5 style="margin-top: -1.5rem;">&nbsp;Book-Rack:3</h5><br>
            &nbsp;&nbsp;<a style="margin-top:-1rem;"   routerLink="/bookrental">Check-out</a>
          </div>
        </div>
      </div>
  
      <div class="col-md-4"style="margin-left: -19rem;">
        <div class="card">
          <img src="../../../assets/img/ssc-1.jpg" alt="">
          <div class="card-body">
            <h5>&nbsp;ISBN:  9798212133448</h5>&nbsp;
            <h5 style="margin-top: -1.5rem;">&nbsp;Book-Rack:1</h5><br>
            &nbsp;&nbsp;<a style="margin-top:-1rem;"   routerLink="/bookrental">Check-out</a>
          </div>
        </div>
      </div>

        
      <div class="col-md-4"style="margin-left: -19rem;">
        <div class="card">
          <img src="../../../assets/img/rpsc-1.webp" alt="">
          <div class="card-body">
            <h5>&nbsp;ISBN:  979821213322</h5>&nbsp;
            <h5 style="margin-top: -1.5rem;">&nbsp;Book-Rack:2</h5><br>
            &nbsp;&nbsp;<a style="margin-top:-1rem;"   routerLink="/bookrental">Check-out</a>
          </div>
        </div>
      </div>
      
      
      <div class="col-md-4"style="margin-left: -19rem;">
        <div class="card">
          <img src="../../../assets/img/exams.jpeg" alt="">
          <div class="card-body">
            <h5>&nbsp;ISBN:  9798212133345</h5>&nbsp;
            <h5 style="margin-top: -1.5rem;">&nbsp;Book-Rack:1</h5><br> 
            &nbsp;&nbsp;<a style="margin-top:-1rem;"   routerLink="/bookrental">Check-out</a>
          </div>
        </div>
      </div>


      
      <div class="col-md-4"style="margin-left: -19rem;">
        <div class="card">
          <img src="../../../assets/img/rpsc-2.webp" alt="">
          <div class="card-body">
            <h5>&nbsp;ISBN:  9798212133485</h5>&nbsp;
            <h5 style="margin-top: -1.5rem;">&nbsp;Book-Rack:3</h5><br>
            &nbsp;&nbsp;<a style="margin-top:-1rem;"   routerLink="/bookrental">Check-out</a>
          </div>
        </div>
      </div>
      
      
    
      
      
      
      <div class="col-md-4"style="margin-left: -19rem;">
        <div class="card">
          <img src="../../../assets/img/ssc-3.webp" alt="">
          <div class="card-body">
            <h5>&nbsp;ISBN:  9798212133558</h5>&nbsp;
            <h5 style="margin-top: -1.5rem;">&nbsp;Book-Rack:1</h5><br> 
            &nbsp;&nbsp;<a style="margin-top:-1rem;"   routerLink="/bookrental">Check-out</a>
          </div>
        </div>
      </div>
      
      
      <div class="col-md-4"style="margin-left: -19rem;">
        <div class="card">
          <img src="../../../assets/img/cds-1.jpg" alt="">
          <div class="card-body">
            <h5>&nbsp;ISBN:  9798212133567</h5>&nbsp;
            <h5 style="margin-top: -1.5rem;">&nbsp;Book-Rack:1</h5><br>
            &nbsp;&nbsp;<a style="margin-top:-1rem;"   routerLink="/bookrental">Check-out</a>
          </div>
        </div>
      </div>
      
      
      <!-- half -->

      <div class="main-txt ">
        
          
        <h2 style="margin-left: -19rem;
         
          margin-top: 17rem;;font-size:x-large"><u>Competitive Exams Books Collection:
                
          </u></h2>
         <i style="margin-left:-8rem;font-size:x-large" class="fa fa-long-arrow-left"></i>
          </div>
          <div class="main-txt-2">
            <h1 style="margin-left:-155rem;margin-top:24rem; font-size:x-large"><u>Financial & Carrier- Collection:</u></h1>
            <i style="margin-left:-146rem;font-size:x-large" class="fa fa-long-arrow-right"></i>
      
      </div>




      
      <div class="col-md-4"style="margin-left: -269rem;">
        
        <div class="card">
          
          <img src="../../../assets/img/growth-2.webp" alt="">
          <div class="card-body">
            <h5>&nbsp;ISBN:  9568212133448</h5>&nbsp;
            <h5 style="margin-top: -1.5rem;">&nbsp;Book-Rack:1 Section:2</h5><br>
            &nbsp;&nbsp;<a style="margin-top:-1rem;"   routerLink="/bookrental">Check-out</a>
          </div>
        </div>
      </div>

      <div class="col-md-4"style="margin-left: -19rem;">
        <div class="card">
         
          
          <img src="../../../assets/img/growth-1.jpeg" alt="" style="margin-top:2rem;">
          <div class="card-body">
            <h5>&nbsp;ISBN:  1798212133448</h5>&nbsp;
            <h5 style="margin-top: -1.5rem;">&nbsp;Book-Rack:1 Section:2</h5><br>
            &nbsp;&nbsp;<a style="margin-top:-1rem;"   routerLink="/bookrental">Check-out</a>
          </div>
        </div>
      </div>
      
      <!-- Add the rest of the col-md-4 cards here with similar structure -->
      
      
  
      <div class="col-md-4"style="margin-left: -19rem;">
        <div class="card">
          <img src="../../../assets/img/growth-3.jpg" alt="">
          <div class="card-body">
            <h5>&nbsp;ISBN:  2898212133434</h5>&nbsp;
            <h5 style="margin-top: -1.5rem;">&nbsp;Book-Rack:1 Section:2</h5><br>
            &nbsp;&nbsp;<a style="margin-top:-1rem;"   routerLink="/bookrental">Check-out</a>
          </div>
        </div>
      </div>
      
  
      <div class="col-md-4"style="margin-left: -19rem;">
        <div class="card">
          <img src="../../../assets/img/growth-4.jpg" alt="">
          <div class="card-body">
            <h5>&nbsp;ISBN:  9543212133432</h5>&nbsp;
            <h5 style="margin-top: -1.5rem;">&nbsp;Book-Rack:1 Section:2</h5><br>
            &nbsp;&nbsp;<a style="margin-top:-1rem;"   routerLink="/bookrental">Check-out</a>
          </div>
        </div>
      </div>
      
      
      <div class="col-md-4"style="margin-left: -19rem;">
        <div class="card">
          <img src="../../../assets/img/growth-7.jpg" alt="">
          <div class="card-body">
            <h5>&nbsp;ISBN:  7298212133443</h5>&nbsp;
            <h5 style="margin-top: -1.5rem;">&nbsp;Book-Rack:1 Section:2</h5><br>
            &nbsp;&nbsp;<a style="margin-top:-1rem;"   routerLink="/bookrental">Check-out</a>
          </div>
        </div>
      </div>
      
        <div class="col-md-4"style="margin-left: -19rem;">
        <div class="card">
          <img src="../../../assets/img/growth-9.jpg" alt="">
          <div class="card-body">
            <h5>&nbsp;ISBN:  1798212133448</h5>&nbsp;
            <h5 style="margin-top: -1.5rem;">&nbsp;Book-Rack:1 Section:2</h5><br>
            &nbsp;&nbsp;<a style="margin-top:-1rem;"   routerLink="/bookrental">Check-out</a>
          </div>
        </div>
      </div>


      <div class="col-md-4"style="margin-left: -19rem;">
        <div class="card">
          <img src="../../../assets/img/growth-5.jpg" alt="">
          <div class="card-body">
            <h5>&nbsp;ISBN:  9798212133448</h5>&nbsp;
            <h5 style="margin-top: -1.5rem;">&nbsp;Book-Rack:1 Section:2</h5><br>
            &nbsp;&nbsp;<a style="margin-top:-1rem;"   routerLink="/bookrental">Check-out</a>
          </div>
        </div>
      </div>
      

      <div class="col-md-4"style="margin-left: -19rem;">
        <div class="card">
          <img src="../../../assets/img/growth-6.jpg" alt="">
          <div class="card-body">
            <h5>&nbsp;ISBN:  9798212133448</h5>&nbsp;
            <h5 style="margin-top: -1.5rem;">&nbsp;Book-Rack:1 Section:2</h5><br>
            &nbsp;&nbsp;<a style="margin-top:-1rem;"   routerLink="/bookrental">Check-out</a>
          </div>
        </div>
      </div>
    

    </div>
  </div>

  <hr />

  <!-- NewsPaper Section -->

    <div class="container-3" style="background-color: #f9f9f9;">
      <div class="row">
        <ul>
          <hr />
          <br>
      <li><h1 class="news-heading">Newspapers :</h1></li>

    
      </ul>
        <div class="col-md-2" style="margin-left: -126.5rem; margin-top: -8rem;">
          <div class="box-1">
            <div class="card-1" style="margin-top: 13rem;">
              <img src="../../../assets/img/news-1.jpg"  >
             
              <div class="card-body text-center">
                <h5>Danik Bhaskar</h5>
              </div>
            </div>
          </div>
          <br>
          <div class="edition" style="margin-left:4rem;">
            <p style="margin-left: 2rem;"><b>Edition-available:</b></p>
      <ul>
      <li>2015-16 (September-May)</li>
      <li>2017-18 (August-March)</li>
      <li>2019-20 (November-January)</li>
      <li>2023  ( March-July)</li>
    </ul>
   </div>
  </div>
        &nbsp;
        &nbsp;

        <div class="col-md-2" style="margin-left:2rem;">
          <div class="box-1">
            <div class="card-1" style="margin-top:5rem;">
              <img src="../../../assets/img/news-2.jpg" width="250" height="150">
              <div class="card-body text-center">
                <h5>Hindustan Times</h5>
              </div>
            </div>
          </div>
          <br>  
          <div class="edition" style="margin-left:4rem;">
            <p style="margin-left: 2rem;"><b>Edition-available:</b></p>
      <ul>
      <li>2015-16 (September-May)</li>
      <li>2017-18 (August-March)</li>
      <li>2019-20 (November-January)</li>
      <li>2023  ( March-July)</li>
    </ul>
  </div>
</div>
          


        
<div class="col-md-2" style="margin-left:2rem;">
  <div class="box-1">
    <div class="card-1" style="margin-top:5rem;">
      <img src="../../../assets/img/news-3.jpg" width="250" height="150">
      <div class="card-body text-center">
        <h5>The Times of India </h5>
      </div>
    </div>
  </div>
  <br>
  <div class="edition" style="margin-left:4rem;margin-top:3rem;">
    <p style="margin-left: 2rem;"><b>Edition-available:</b></p>
<ul>
<li>2015-16 (September-May)</li>
<li>2017-18 (August-March)</li>
<li>2019-20 (November-January)</li>
<li>2023  ( March-July)</li>
</ul>
</div>

</div>

    
      

        <div class="col-md-2" style="margin-left:2rem;">
          <div class="box-1">
            <div class="card-1" style="margin-top:5rem;">
              <img src="../../../assets/img/news-6.jpeg" >
              <div class="card-body text-center">
                <h5>Rajasthan Patrika</h5>
              </div>
            </div>
          </div>
          <br>
          <div class="edition" style="margin-left:4rem;">
                      <p style="margin-left: 2rem;"><b>Edition-available:</b></p>
                <ul>
                <li>2015-16 (September-May)</li>
                <li>2017-18 (August-March)</li>
                <li>2019-20 (November-January)</li>
                <li>2023  ( March-July)</li>
              </ul>
            </div>

        </div>

        &nbsp;
        &nbsp;
    



        

        
        <div class="col-md-2"  style="margin-left:2rem;" >
          <div class="box-1">
            <div class="card-1" style="margin-top:5rem;">
              <img src="../../../assets/img/news-4.jpg" width="250" height="150">
              <div class="card-body text-center">
                <h5>The Hindu</h5>
              </div>
            </div>
          </div>
          <br>
          <div class="edition" style="margin-left:4rem; margin-top:3rem;">
            <p style="margin-left: 2rem;"><b>Edition-available:</b></p>
      <ul>
      <li>2015-16 (September-May)</li>
      <li>2017-18 (August-March)</li>
      <li>2019-20 (November-January)</li>
      <li>2023  ( March-July)</li>
    </ul>
  </div>   
 </div>
   
</div>

    <hr />
    <br>
<div class="note-section text-white" style="background-color: rgb(31, 30, 30);">
    <h5 style="text-align: center;"><b><u>~:Important Note:~</u></b></h5><br>
    <Section class="Notice-section fw-bold text-uppercase">
    <ul style="margin-left:2rem;">
  <li><p>All Books are available for borrow But in Offline And You can Register for Membership* Click 0n <u>"<i class="fas fa-warehouse"></i>"</u> And Also Newspapers Collection Available According to year for Aspirants So thry can also apply for it  and it's available offline and you get thorugh giving details about specific year
      if You're  interested fill the Form!.. 
    </p></li>  
    </ul>
</Section>  
</div>