<header class="header ">
  
  <a routerLink="/adminlogin" class="logo"style="margin-top: 0.5 rem; margin-left:5rem;"href=".page-top">
  <img src="../../../assets/img/library.png" style="width:55px; height:50px; margin-top:-0.5rem;">PubliC-Library</a>
  
  <input class="menu-btn" type="checkbox" id="menu-btn" />
  <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
  <div class="navbar-wrapper">
 <ul class="menu  bg-transparent" style="margin-top:-0.5rem;">
    <li><a routerLink="/index" class="link link-theme link-arrow"><i class="fa fa-home" style="font-size: xx-large;"></i></a></li>&nbsp;
    <li><a routerLink="/collection" class="link link-theme link-arrow"><i class="fas fa-book-reader" style="font-size: xx-large;"></i></a></li>&nbsp;
    <li style="padding-right: 8rem;"><a routerLink="/bookrental" class="link link-theme link-arrow"><i class="fas fa-warehouse" style="font-size: xx-large;"></i></a></li>
   
     
  </ul>
</div>

</header>


               
           


            





